Source: nautilus-pdf-tools
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.6.1
Homepage: http://www.atareao.es

Package: nautilus-pdf-tools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    gir1.2-gtk-3.0,
    gir1.2-gdkpixbuf-2.0,
    gir1.2-nautilus-3.0,
    gir1.2-poppler-0.18,
    python3,
    python3-nautilus,
    python3-gi,
    python3-gi-cairo,
    python3-pypdf2,
    python3-plumbum,
    python3-cairo,
    python3-pil
Description: This is a extension for Nautilus to manipulate pdf files
 With this is extension for Nautilus you can manipulate pdf files
