Source: nautilus-pdf-tools
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.atareao.es

Package: nautilus-pdf-tools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python,
	python-gi,
	python-gi-cairo,
	python-cairo,
	python-pil,
	gir1.2-gtk-3.0,
	gir1.2-gdkpixbuf-2.0,
	gir1.2-nautilus-3.0,
	gir1.2-poppler-0.18,
	python-nautilus,
	python-pypdf2
Description: This is a extension for Nautilus to manipulate pdf files
 With this is extension for Nautilus you can manipulate pdf files
